## Download the data 
Go to https://datasets.simula.no/ecc-dataset/ and download the dataset as zip-file. Use the following command to create a empty directory at the same level as you cloned ECC. 
```bash
mkdir ECC_DATA
``` 
Extract the data here. The resulting filestructure is as folllow
```bash
├── projectfolder
│   ├── ECC
│   │   └── Read_ECC.ipynb
│   │   └── utils.py
│   │   └── README.md
│   │   └── environment.yml
│   └── ECC_DATA
│       └── data

```

# European Cloud Cover (ECC)

In [1]:
store_dataset_path = '../ECC_DATA/'  # Change this if you have stored the data somewhere else

# Do you experience problems executing this notebook? 
Please install the project enviornment, following the description in `README.md` also displayed on the front page of the Github repo (https://github.com/hannasv/ECC).

In [2]:
from utils import read_ecc_to_dataframe
help(read_ecc_to_dataframe)

Help on function read_ecc_to_dataframe in module utils:

read_ecc_to_dataframe(path_input, start='2012-01-01', stop='2012-01-31', include_start=True, include_stop=True)
    Parameteres
    ----------------------
    path_input : None
        sets path to input
    start : str
        Start of period. First day included. (default '2012-01-01')
    stop : str
        end of period. Last day included. (default '2012-01-31')
    include_start : bool (True)
        Bool to decide whether to include the start time in the list of files.
    include_stop : bool (True)
        Bool to decide whether to include the stop time in the list of files.

    Returns
    -----------
    df : pd.DataFrame
        Data in DataFrame

# Data is available from 2004-04-01 to 2018-12-31

In [3]:
read_dataset_path = store_dataset_path+'uio/lagringshotell/geofag/projects/miphclac/ECC/' # make robust

In [5]:
df = read_ecc_to_dataframe(path_input=read_dataset_path, start = '2012-01-01',
            stop = '2012-01-31', include_start = True, include_stop = True)

 Searching in directory ../ECC_DATA/uio/lagringshotell/geofag/projects/miphclac/ECC/

Merging 5 files  ... This may take a while.

# ECC - January 2012

In [6]:
df

                                             tcc  nr_nans  number   step  \
latitude longitude time
30.0     -15.0     2012-01-01 00:00:00  0.917933      0.0       0 0 days
                   2012-01-01 01:00:00  0.760303      0.0       0 0 days
                   2012-01-01 02:00:00  0.609953      0.0       0 0 days
                   2012-01-01 03:00:00  0.599709      0.0       0 0 days
                   2012-01-01 04:00:00  0.940774      0.0       0 0 days
...                                          ...      ...     ...    ...
50.0      25.0     2012-01-31 19:00:00  1.000000      0.0       0 0 days
                   2012-01-31 20:00:00  1.000000      0.0       0 0 days
                   2012-01-31 21:00:00  1.000000      0.0       0 0 days
                   2012-01-31 22:00:00  1.000000      0.0       0 0 days
                   2012-01-31 23:00:00  1.000000      0.0       0 0 days

                                        isobaricInhPa          valid_time  \
latitude longitude time
30.0     -15.0     2012-01-01 00:00:00           1000 2012-01-01 00:00:00
                   2012-01-01 01:00:00           1000 2012-01-01 01:00:00
                   2012-01-01 02:00:00           1000 2012-01-01 02:00:00
                   2012-01-01 03:00:00           1000 2012-01-01 03:00:00
                   2012-01-01 04:00:00           1000 2012-01-01 04:00:00
...                                               ...                 ...
50.0      25.0     2012-01-31 19:00:00           1000 2012-01-31 19:00:00
                   2012-01-31 20:00:00           1000 2012-01-31 20:00:00
                   2012-01-31 21:00:00           1000 2012-01-31 21:00:00
                   2012-01-31 22:00:00           1000 2012-01-31 22:00:00
                   2012-01-31 23:00:00           1000 2012-01-31 23:00:00

                                               q          r  surface  \
latitude longitude time
30.0     -15.0     2012-01-01 00:00:00  0.006608  67.712372        0
                   2012-01-01 01:00:00  0.006636  67.811691        0
                   2012-01-01 02:00:00  0.006692  68.378418        0
                   2012-01-01 03:00:00  0.006758  69.014114        0
                   2012-01-01 04:00:00  0.006805  69.296860        0
...                                          ...        ...      ...
50.0      25.0     2012-01-31 19:00:00  0.000931  98.981598        0
                   2012-01-31 20:00:00  0.000926  98.236130        0
                   2012-01-31 21:00:00  0.000912  96.646652        0
                   2012-01-31 22:00:00  0.000956  95.667007        0
                   2012-01-31 23:00:00  0.000937  95.508362        0

                                                 sp         t2m
latitude longitude time
30.0     -15.0     2012-01-01 00:00:00  103141.7500  289.623779
                   2012-01-01 01:00:00  103129.9375  289.589111
                   2012-01-01 02:00:00  103136.8750  289.536621
                   2012-01-01 03:00:00  103102.8125  289.512939
                   2012-01-01 04:00:00  103079.0625  289.515381
...                                             ...         ...
50.0      25.0     2012-01-31 19:00:00  100236.8125  257.810242
                   2012-01-31 20:00:00  100225.7500  256.740417
                   2012-01-31 21:00:00  100244.7500  256.042328
                   2012-01-31 22:00:00  100196.3750  255.543915
                   2012-01-31 23:00:00  100188.3125  255.451691

[9702504 rows x 11 columns]